<div class='ui grid'>
  <div class='two column row'>
    <div class='left floated column' id='cta-left'>
      <span id='cta-h'>Try it for free</span><br>
      <span id='cta-sh'>Already using Seam? </span><a href='#' id='cta-sh'>Sign in.</a>
    </div>
    <div class='right floated column' id='cta-right'>
      <div class="ui large input">
        <input type="text" placeholder="Email adress">
      </div>
      <button class="ui button" id='cta-btn'>
        Try now for free
      </button>
    </div>
  </div>
</div>
