<div id='cta'>
  <div class='ui stackable grid container'>
    <div class='two column row'>
      <div class='left floated column' id='cta-left'>
        <span id='cta-h'>Try it for free</span><br>
        <span id='cta-sh'>Already using Seam? </span><a href='#' id='cta-sh'>Sign in.</a>
      </div>
      <div class='right floated column' id='cta-right'>
        <div class="ui large input">
          <input type="text" placeholder="Email address">
        </div>
        <button class="ui button" id='cta-btn'>
          Get our newsletter
        </button>
      </div>
    </div>
  </div>
</div>
