<div class='ui container'>
  <section id='a-1'>
    <div class='ui text container'>
      <h1 class='ui center aligned header'>
        Teamwork, makes the dream work.
      </h1>
      <div class='ui center aligned container'>Founded by a group of tech junkies, Seam is an all-inclusive collaborative space for your teams and projects.
         We take team communication, document creation, plus project tracking and consolidate them into a single “easy to use” platform.
         It’s time to kiss goodbye to switching back and forth between email, project management, messaging, and file-sharing apps.<br><br>
         We are based in Southern California, comprised of team members with heart, ambition, and a will to continue to innovate the way people and processes collaborate together.
       </div>
    </div>
  </section>
  <%= render 'pages/cta' %>
</div>
