<div class='ui container'>
  <section id='about-us'>
    <div class='ui computer reversed equal width stackable grid'>
      <div class='row'>
        <div class='column'>
          <%= image_tag('about-us.svg', class: 'ui right floated large image')%>
        </div>
        <div class='column'>
          <h1 class='ui left aligned header'>
            About Us
          </h1>
          <div class='sub header'>
            <p>
              People see productivity as having different platforms or applications coinciding simultaneously, but this delays productivity as well as time by switching between screens or applications. So is this really the solution to productivity? We believe that Seam can offer a versatile and intuitive collaborative space where document editing, project tracking, and team messaging can be achieved in one all-inclusive platform. Seam allows users to just stay in one place and provides a more fun, immersive and seamless alternative to all the other collaboration tools on the market. We're all about maximizing business outcomes and motivating the team spirit.<br><br>
              Here at Seam, we understand that productivity isn't about having more tools. It's about having less tools, that do more. Collaborate together, collaborate seamlessly.
            </p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='column'>
          <h1 class='ui left aligned header' id='teams'>
            Teams
          </h1>
          <div class='ui equal width stackable grid'>
            <div class='column'>
              <%= image_tag('michaelh.jpg', class: 'ui centered small image')%>
              <div class='team-intro'>
                <h3 class='ui centered header'>Michael Hayashi
                  <div class='sub header'>UX / UI</div>
                </h3>
              </div>
            </div>
            <div class='column'>
              <%= image_tag('jayp.jpg', class: 'ui centered small image')%>
              <div class='team-intro'>
                <h3 class='ui centered header'>Jay Patel
                  <div class='sub header'>Developer</div>
                </h3>
              </div>
            </div>
            <div class='column'>
              <%= image_tag('isaacc.jpg', class: 'ui centered small image')%>
              <div class='team-intro'>
                <h3 class='ui centered header'>Isaac Chyon
                  <div class='sub header'>Business Development & Outreach</div>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
