<div class='ui container'>
  <section id='about'>
    <div class='ui equal width stackable grid'>
      <div class='column'>
        <h1 class='ui center aligned header'>
          Our team
        </h1>
        <p class='body-styles'>
          Our team is hard at work everyday to offer you and your team the ultimate team collaboration experience.<br>
          We make working together simpler, more seamless, and more productive.
        </p>
      </div>
      <div class='row'>
        <div class='column'>
          <%= image_tag('isaacc.jpg', class: 'ui centered medium image')%>
          <div class='team-intro'>
            <h3 class='ui centered header'>Isaac Chyon
              <div class='sub header'>Business Development & Outreach</div>
            </h3>
          </div>
        </div>
        <div class='column'>
          <%= image_tag('michaelh.jpg', class: 'ui centered medium image')%>
          <div class='team-intro'>
            <h3 class='ui centered header'>Michael Hayashi
              <div class='sub header'>UX / UI</div>
            </h3>
          </div>
        </div>
        <div class='column'>
          <%= image_tag('jayp.jpg', class: 'ui centered medium image')%>
          <div class='team-intro'>
            <h3 class='ui centered header'>Jay Patel
              <div class='sub header'>Developer</div>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render 'pages/cta' %>
