<div class='ui container'>
  <section id='f-1'>
    <h1 class='ui center aligned header'>Features for ultimate team collaboration</h1>
  </section>
  <section id='f-2'>
    <h1 class='ui center aligned header'>How Seam helps to elevate teams</h1>
    <%= image_tag('http://ehouses.pl/wp-content/uploads/2015/04/placeholder-600x400.png', class: 'ui centered image')%>
    <div class='ui stackable three column grid'>
      <div class='column'>
        <h2>Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class='column'>
        <h2>Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class='column'>
        <h2>Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </section>
  <section id='f-3'>
    <div class='ui stackable grid'>
      <div class='eight wide column'>
        <%= image_tag('http://sinfulsalt.com/wordpress/wp-content/uploads/2012/07/placeholder-470x352.jpg', class: 'ui image') %>
      </div>
      <div class='eight wide column'>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button class='ui button'>SEE IT IN ACTION</button>
      </div>
    </div>
  </section>
  <section id='f-4'>
    <div class='ui stackable grid'>
      <div class='eight wide column'>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class='eight wide column'>
        <%= image_tag('http://sinfulsalt.com/wordpress/wp-content/uploads/2012/07/placeholder-470x352.jpg', class: 'ui image') %>
      </div>
    </div>
  </section>
  <section id='f-5'>
    <div class='ui center aligned grid'>
      <div class='sixteen wide column'>
        <h1>Lorem Ipsum</h1>
        <button class='ui icon large button'>
          <i class="mobile icon"></i> iOS
        </button>
        <button class='ui icon large button'>
          <i class="android icon"></i> Android
        </button>
        <%= image_tag('http://sinfulsalt.com/wordpress/wp-content/uploads/2012/07/placeholder-470x352.jpg', class: 'ui centered image') %>
      </div>
    </div>
  </section>

</div>
