<div class='ui container'>
  <section id='p-1'>
    <div class='ui text container'>
      <h1 class='ui center aligned header'>
        Upgrade to Business for admin features.
        Simple pricing, pay annually or monthly.
      </h1>
    </div>
    <div class="ui stackable cards">
      <div class="ui card">
        <div class="center aligned content" id='free-trial'>
          <div class="header">Free Trial</div>
        </div>
        <div class="center aligned content">
          <br><p>Try free for 30 days</p><br>
        </div>
        <div class="extra center aligned content">
          <button class="ui button" id='ft-btn'>Start Free Trial</button>
        </div>
      </div>
      <div class="ui card">
        <div class="center aligned content" id='awesome-plan'>
          <div class="header">Awesome Plan</div>
        </div>
        <div class="center aligned content">
          <p>$7.99 per active user, per month billed annually</p>
          <p>$8.99 billed monthly</p>
        </div>
        <div class="extra center aligned content">
          <button class="ui button" id='ap-btn'>Start Free Trial</button>
        </div>
      </div>
      <div class="ui card">
        <div class="center aligned content" id='special-plan'>
          <div class="header">Special Plan</div>
        </div>
        <div class="center aligned content">
          <br><p>For teams with more than 50 Seam users</p><br>
        </div>
        <div class="extra center aligned content">
          <button class="ui button" id='sp-btn'>Let's Chat</button>
        </div>
      </div>
    </div>
  </section>
  <section id='p-2'>
    <div class='ui stackable grid'>
      <div class='ui text container'>
        <div class="ui items">
          <div class="item">
            <div class="image">
              <%= image_tag('https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif', class: 'ui image')%>
            </div>
            <div class="content">
              <a class="header">Header</a>
              <div class="meta">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ui items">
          <div class="item">
            <div class="image">
              <%= image_tag('https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif', class: 'ui image')%>
            </div>
            <div class="content">
              <a class="header">Header</a>
              <div class="meta">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ui items">
          <div class="item">
            <div class="image">
              <%= image_tag('https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif', class: 'ui image')%>
            </div>
            <div class="content">
              <a class="header">Header</a>
              <div class="meta">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render 'pages/cta' %>
