<div class='ui container'>
  <section id='p-1'>
    <div class='ui equal width stackable grid'>
      <div class='row'>
        <div class='column'>
          <h2 class='ui left aligned header'>
            Pricing can’t get simpler than this
             <div class="sub header">
               Seam offers variety of plans for you to choose from. From free trial to special plan.
             </div>
          </h2>
        </div>
        <div class='column'>
          <%= image_tag('pricing.svg', class: 'ui huge image')%>
        </div>
      </div>
    </div>
    <div class="ui stackable cards">
      <div class="ui card">
        <div class="center aligned content" id='free-trial'>
          <div class="header">Free Trial</div>
        </div>
        <div class="center aligned content" id='gray-bg'>
          <p>Complete documentation</p>
          <div class="ui divider"></div>
          <p>Working materials in PSD and<br>Sketch format</p>
        </div>
        <div class="extra center aligned content" id='gray-bg'>
          <button class="ui button" id='ft-btn'>ADD TO CART</button>
        </div>
      </div>
      <div class="ui card">
        <div class="center aligned content" id='awesome-plan'>
          <div class="header"><span>$15</span><br><br>Awesome Plan</div>
        </div>
        <div class="center aligned content" id='gray-bg'>
          <p>Complete documentation</p>
          <div class="ui divider"></div>
          <p>Working materials in PSD,<br>Sketch and EPS format</p>
          <div class="ui divider"></div>
          <p>6 months access to the library</p>
        </div>
        <div class="extra center aligned content" id='gray-bg'>
          <button class="ui button" id='ap-btn'>ADD TO CART</button>
        </div>
      </div>
      <div class="ui card">
        <div class="center aligned content" id='special-plan'>
          <div class="header"><span>$25</span><br><br>Special Plan</div>
        </div>
        <div class="center aligned content" id='gray-bg'>
          <p>Complete documentation</p>
          <div class="ui divider"></div>
          <p>Working materials in PSD,<br>Sketch and EPS format</p>
          <div class="ui divider"></div>
          <p>1 year access to the library</p>
          <div class="ui divider"></div>
          <p>2GB cloud storage</p>
        </div>
        <div class="extra center aligned content" id='gray-bg'>
          <button class="ui button" id='sp-btn'>Let's Chat</button>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render 'pages/cta' %>
