<div class='ui container'>
  <section id='p-1'>
    <div class='ui equal width stackable grid'>
      <div class='row'>
        <div class='column'>
          <h2 class='ui left aligned header'>
            Pricing can’t get simpler than this
             <div class="sub header">
               Seam provides you with all the essentials you need for the ultimate team collaboration.
             </div>
          </h2>
        </div>
        <div class='column'>
          <%= image_tag('all-in-one.png', class: 'ui right floated large image')%>
        </div>
      </div>
    </div>
    <div class="ui stackable cards">
      <div class="ui card">
        <div class="center aligned content" id='free-trial'>
          <div class="header">Free Trial</div>
        </div>
        <div class="center aligned content" id='gray-bg'>
          <p>Complete documentation</p>
          <div class="ui divider"></div>
          <p>Working materials in PSD and<br>Sketch format</p>
        </div>
        <div class="extra center aligned content" id='gray-bg'>
          <button class="ui button" id='ft-btn'>ADD TO CART</button>
        </div>
      </div>
      <div class="ui card">
        <div class="center aligned content" id='awesome-plan'>
          <div class="header"><span>$9.99</span><br><br>Awesome Plan</div>
        </div>
        <div class="center aligned content" id='gray-bg'>
          <p>Complete documentation</p>
          <div class="ui divider"></div>
          <p>Working materials in PSD,<br>Sketch and EPS format</p>
          <div class="ui divider"></div>
          <p>6 months access to the library</p>
        </div>
        <div class="extra center aligned content" id='gray-bg'>
          <button class="ui button" id='ap-btn'>ADD TO CART</button>
        </div>
      </div>
    </div>
  </section>
</div>
<section id='p-2'>
  <div class='ui two column stackable grid container'>
    <h1 class='ui left aligned header'>FAQ</h1>
    <div class='row'>
      <div class='column'>
        <h3 class="ui header">
          Can I try Seam for free?
          <div class="sub header">You bet! We have a free 30 day trial,
            and you don’t need to provide a credit card when signing up.
          </div>
        </h3>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Do you charge extra for anything?
          <div class="sub header">Absolutely not! With Seam there are no setup fees,
            cancellation fees, nor mystifying hidden fees.
          </div>
        </h3>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Can I cancel at any time?
          <div class="sub header">Yes, but we hate to see you go! You can cancel at any time,
            we charge you annually or monthly. Get in touch with us and we’ll
            cancel your subscription at the beginning of the next billing period.
          </div>
        </h3>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Can I pay a year in advance?
          <div class="sub header">Yes! In fact, each user will receive 12% off
            the monthly subscription rate when you commit to a year of service with a valid credit card.
            Just choose annual billing as an option after selecting your plan above.
          </div>
        </h3>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Any other questions?
          <div class="sub header">Let us help! We’re here to answer any and all questions.
            Get in touch with us via email at support@seam.fun.
          </div>
        </h3>
      </div>
    </div>
  </div>
</section>
<%= render 'pages/cta' %>
