/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import "mq.scss";

// Set variables
$primary-blue: #03b1ff;
$primary-green: #84e73c;
$primary-yellow: #ffe370;
$primary-red: #f04f4a;

// NAV
.logo {
  width: 112px;
  height: 28px;
}

.right {
  a.ui.item {
    border-bottom: 2px solid #FFF;
  }
  a.ui.item:hover {
    border-bottom: 2px solid $primary-blue;
    background-color: #FFF!important;
    border-radius: 0px;
  }
}

// FOOTER
.footer-logo {
  width: 135px;
}

#red {
  color: $primary-red!important;
}

#blue {
  color: $primary-blue!important;
}

#green {
  color: $primary-green!important;
}
