/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import "mq.scss";
@import 'slick';

// Set variables
$blue: #4A90E2;
$pink: #E95F70;
$green: #7ED321;
$gray: #EEEEEE;
$header-font: 'Merriweather', serif;
$body-font: 'Roboto', sans-serif;
$font-color: #333;

// Box-sizing
* {
  box-sizing: border-box;
}

html {
  font-family: $body-font!important;
  color: $font-color!important;
}

// NAV
.logo {
  width: 112px;
  height: 28px;
}

.right {
  a.ui.item {
    color: $font-color;
  }
  a.ui.item:hover {
    color: $blue;
    background-color: $gray;
    border-radius: 3px;
  }
}

.fixed {
  background-color: #FFF!important;
  transition: all 0.5s linear;
  height: 60px;
}

#cast.active {
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
}

// CTA
#cta {
  background-color: $gray;
  height: 190px;
  display: flex;

  .two {
    margin: 70px 0 0 0;
  }
}

#cta-right {
  margin-right: -130px;

  input {
    width: 350px;
    height: 60px;
    font-size: 17px;
  }

  .input {
    margin-right: 2%;
  }

  button {
    height: 60px;
    font-weight: lighter;
  }
}

#cta-left {
  margin: 0 0 0 -100px;

  #cta-h {
    font-size: 30px;
  }

  #cta-sh {
    font-size: 20px;
    line-height: 30px;
  }
}

#cta-btn {
  background-color: $blue;
  color: #FFF;
  border: solid 1px $blue;
  border-radius: 3px;
  font-size: 15px;
  height: 40px;
  line-height: 7px;

  &:hover {
    background-color: #2890dd;
    -webkit-box-shadow:inset 0px 0px 0px 1px #2890dd;
    -moz-box-shadow:inset 0px 0px 0px 1px #2890dd;
    box-shadow:inset 0px 0px 0px 1px #2890dd;
  }

  &:active {
    -webkit-box-shadow:inset 0px 0px 0px 1px #FFF;
    -moz-box-shadow:inset 0px 0px 0px 1px #FFF;
    box-shadow:inset 0px 0px 0px 1px #FFF;
  }
}

// FOOTER
.footer {
  .mini {
    margin: 10px;
  }

  p {
    font-size: 13px;
  }

  .left.aligned {
    margin: 0px 0 0 -110px;
  }
}

#rights {
  padding: 4% 0 0 0;
}

#privacy {
  margin: 39px -125px 0 0;
  text-align: end;

  a {
    margin: 0 0 0 30px;
    padding-top: 30px;
    font-size: 13px;
  }
}
