/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import "mq.scss";
@import 'slick';

// Set variables
$primary-blue: #4da1ff;
$primary-gray: #FBFBFB;

// Box-sizing
* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif!important;
  color: #333333!important;
}

// NAV
.logo {
  width: 112px;
  height: 28px;
}

.right {
  a.ui.item {
    color: #333;
  }
  a.ui.item:hover {
    color: $primary-blue!important;
    background-color: $primary-gray;
    border-radius: 3px;
  }
}

.fixed {
  background-color: #FFF!important;
  transition: all 0.5s linear;
  height: 60px;
}

#cast.active {
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
}

// Button
#small-cta {
  background-color: $primary-blue;
  color: #FFF;
  border: solid 1px $primary-blue;
  border-radius: 3px;
  font-size: 14px;
  height: 33px;
  line-height: 1px;

  &:hover {
    background-color: #2890dd;
    -webkit-box-shadow:inset 0px 0px 0px 1px #2890dd;
    -moz-box-shadow:inset 0px 0px 0px 1px #2890dd;
    box-shadow:inset 0px 0px 0px 1px #2890dd;
  }

  &:active {
    -webkit-box-shadow:inset 0px 0px 0px 1px #FFF;
    -moz-box-shadow:inset 0px 0px 0px 1px #FFF;
    box-shadow:inset 0px 0px 0px 1px #FFF;
  }
}

// FOOTER
.input {
  margin-right: 2%;
}

.footer {
  padding-top: 35px;
}

.sub-footer {
  background-color: $primary-gray;
}

#rights {
  padding: 4% 0 9% 0;
}

#privacy {
  margin-top: 1%;

  a {
    padding-right: 10%;
  }
}

#social-icons {
  .button {
    margin-right: 10%
  }
}
