@import "semantic-ui";

/* Mobile */
@media only screen and (max-width: 767px) {
  #computer-only {
    display: none!important;
  }

  h1.header {
    font-size: 33px!important;
  }

  .body-styles {
    font-size: 16px!important;
  }

  #landing {
    h1 {
      padding-top: 25%;
    }
  }

  #search {
    overflow: hidden;
    height: 570px!important;

    #pink-shape {
      bottom: -260px;
      transform: scale(1.6) rotate(65deg);
    }

    #s-screenshot {
      top: 330px;
      right: 0px!important;
    }

    .s-content {
      top: -185px;
      text-align: center;
      left: 0px
    }

    button {
      margin: 0 auto;
    }
  }

  #messenger {
    .m-content {
      top: 60px;
      right: 0px!important;
      text-align: center;
    }

    #m-screenshot {
      top: 100px;
      bottom: 0px!important;
      left: 0px!important;
    }

    button {
      margin: 0 auto;
    }
  }

  #drive {
    bottom: 0px!important;
    top: 170px;
    height: 540px!important;
    overflow: hidden;

    #green-shape {
      right: 80px!important;
      bottom: 355px;
    }

    .d-content {
      text-align: center;
      top: -165px;
      left: 0px!important;
    }

    #d-screenshot {
      top: 270px!important;
      bottom: 0px!important;
      right: 0px!important;
    }

    button {
      margin: 0 auto;
    }
  }

  #shrink-me {
    height: 845px!important;
  }

  #to-do {
    bottom: 0px!important;

    .t-content {
      top: 240px!important;
      text-align: center;
      left: 0px!important;
    }

    #t-screenshot {
      top: 270px!important;
      left: 0px!important;
    }

    button {
      margin: 0 auto;
    }
  }

  .logo {
    height: 120px;
  }

  #privacy a {
    padding-top: 30px;
    font-size: 13px;
    margin: 0 22px 0 0!important;
  }

  .footer {
    .wrap {
      margin: 0 auto;
      width: 200px;
    }
  }

  #cta-right, #cta-left {
    text-align: center;

    input, #cta-btn {
      width: 260px!important;
      text-align: center;
    }
  }

  #cta {
    height: 320px!important;

    .two {
      margin: 42px 0 0 0!important;
    }
  }

  #cta-btn {
    margin-top: 2%;
    width: 202px;
    margin-right: 2%;
    margin-bottom: 6%;
  }

  #p-1 {
    h1 {
      margin: 25% 0 5% 0
    }

    #bottom {
      width: 100%!important;
    }
  }

  #p-2 {
    h1 {
      margin: 10% 0 10% 0;
    }

    p {
      font-size: 16px!important;
      width: 80%!important;
      text-align: center!important;
    }
  }

  #about {
    h1 {
      margin: 23% 0 3% 0;
    }

    p {
      margin: 0 0 0 0!important;
    }

    img {
      margin-top: 5%;
      width: 75%;
    }

    #team-intro {
      margin: 10% 0 0% 0;
    }
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #mobile-only {
    display: none!important;
  }

  #search {
    .body-styles {
      width: 287px;
    }

    #s-screenshot {
      right: 80px!important;
      top: 80px!important;
      width: 80%!important;
    }

    .s-content {
      left: 640px!important;
      bottom: 320px!important;
    }

    #pink-shape {
      right: 260px!important;
    }
  }

  #messenger {
    .m-content {
      top: 215px!important;
      right: 25px!important;
    }

    #m-screenshot {
      width: 72%;
    }
  }

  #drive {
    #d-screenshot {
      right: 70px!important;
      bottom: 790px!important;
      width: 82%;
    }

    .d-content {
      bottom: 1200px!important;
      left: 683px!important;
    }

    .body-styles {
      width: 255px;
    }
  }

  #to-do {
    #t-screenshot {
      bottom: 180px!important;
      width: 75%;
    }

    .t-content {
      right: 10px!important;
      top: 270px!important;
    }
  }

  #p-1 {
    img {
      margin-top: 15%;
    }

    h2 {
      width: 100%;
    }
  }

  #cta-left {
    margin: 0!important;
  }

  #cta-right {
    margin-right: 0px!important;

    input {
      width: 175px!important;
    }
  }

  .footer {
    #wrap {
      margin: 0 0 0 70px!important;
    }

    #privacy {
      margin: 39px -39px 0 0!important;
    }
  }
}

/* Computer / Desktop / iPad Landscape / Widescreen */
@media only screen and (min-width: 1023px) and (max-width: 1920px) {
  #mobile-only {
    display: none!important;
  }
}

/* Superwide screen */
@media only screen and (min-width: 1919px) and (max-width: 5000px) {
  #mobile-only {
    display: none!important;
  }
}
