@import "semantic-ui";

/* Mobile */
@media only screen and (max-width: 767px) {
  #computer-only {
    display: none!important;
  }

  #landing {
    h1 {
      text-align: center!important;
      font-size: 38px!important;
      width: 100%!important;
      margin: 0 auto!important;
      padding-top: 25%;

      .sub {
        margin-bottom: 30px;
      }
    }

    .image {
      margin: 5% 0 5% 0;
    }

    #signup {
      text-align: center!important;

      #no-credit {
        margin: 0;
      }
    }
  }

  #intro-1 {
    height: 900px;

    .header {
      text-align: center;
      padding: 0;
    }

    a {
      margin: 0 auto;
      button {
        margin-top: 25%;
      }
    }

    p {
      padding-top: 12px;
    }

    .tiny {
      margin: 3%;
      width: 50px !important;
    }

    #block {
      .left {
        margin: 5% 0 5% 0;
      }
    }
  }

  .logo {
    height: 120px;
  }

  #f-3 {
    .items {
      margin-left: 0%;
      margin: 0 auto;
    }

    #push {
      margin-left: 0%;
    }

    .content {
      padding: 8% 0% 8% 0%;
    }
  }

  #privacy, #social-icons {
    text-align: center;
    padding-right: 0px!important;
  }

  .footer {
    .three {
      text-align: center;
      margin-bottom: 10%;
    }

    .mini {
      margin-left: 8%;
      width: 15%!important;
    }

    #rights {
      margin: -20% 0 -3% 0;
      padding-left: 27%;
    }
  }

  #cta-right, #cta-left {
    text-align: center;
  }

  #cta-btn {
    margin-top: 2%;
    width: 202px;
    margin-right: 2%;
    margin-bottom: 6%;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #mobile-only {
    display: none!important;
  }

  #f-3 {
    .items {
      margin-left: 0%;
      margin: 0 auto;
    }

    #push {
      margin-left: 0%;
    }

    .content {
      padding: 8% 0% 8% 0%;
    }

    p {
      width: 80%;
      margin: 0 auto;
    }

    h2 {
      margin-left: 9%;
    }
  }
}

/* Computer / Desktop / iPad Landscape / Widescreen */
@media only screen and (min-width: 1024px) and (max-width: 5000px) {
  #mobile-only {
    display: none!important;
  }
}
