// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

// Set variables
$blue: #4A90E2;
$pink: #E95F70;
$green: #7ED321;
$gray: #FBFBFB;
$header-font: 'Merriweather', serif;
$body-font: 'Roboto', sans-serif;
$font-color: #333;

section {
  min-height: 450px;
}

h1.header {
  font-size: 43px!important;
  font-family: $header-font!important;
  font-weight: 900!important;
}

.body-styles {
  font-size: 20px;
  line-height: 31px;
  font-family: $body-font;
  color: $font-color;
}

#landing {
  position: relative;
  height: 110%;

  h1 {
    margin: 10% 0 3% 0;
  }

  p {
    margin-top: 25px;
    text-align: center;
  }

  button {
    margin: 20px 0 10px 0;
  }
}

// Search + Drive
#search {
  position: relative;
  z-index: 2;
  margin-top: -17%;
  background-color: white;
  box-shadow: 0 2px 25px 0 rgba(0,0,0,0.15);
  height: 743px;

  #pink-shape {
    position: absolute;
  }

  #s-screenshot {
    position: relative;
    height: 100%;
    right: 25px;
    top: 15px;
  }

  button {
    margin: 45px 0 0 0;
  }
}

#drive {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.15);
  bottom: 125px;
  height: 774px;

  #green-shape {
    position: relative;
    right: 130px;
    bottom: 125px;
  }

  #d-screenshot {
    position: absolute;
    top: 60px;
  }

  button {
    margin: 45px 0 0 0;
  }
}

.s-content, .d-content {
  top: 245px;
  position: relative;
  left: 90px;
}

// Messenger + To do list
#messenger, #to-do {
  position: relative;

  button {
    margin: 45px 0 0 0;
  }
}

#m-screenshot, #t-screenshot {
  height: 100%;
  position: relative;
  left: 375px;
  bottom: 210px;
}

.m-content, .t-content {
  position: relative;
  top: 250px;
  right: 100px;
}

#shrink-me {
  height: 650px
}

#to-do {
  bottom: 185px;

  .t-content {
    top: 305px;
  }
}

#p-1 {
  h1 {
    margin: 10% 0 2% 0;
  }

  p {
    text-align: center;
  }

  .header {
    font-family: $header-font;
    font-size: 23px;
  }

  .segments {
    width: 80%;
    margin: 0 auto;
  }

  .list {
    font-family: $body-font;
  }

  .row {
    margin: 5% 0 5% 0;
  }

  .item {
    padding: 10px 0 10px 0;
  }

  #top {
    background-color: $gray;
  }

  i {
    color: $green;
  }
}

#p-2 {
  margin: 0 0 5% 0;
  
  h1 {
    margin: 3% 0 6% 0;
  }

  p {
    padding: 15px 0 30px 0;
    font-size: 17px;
    line-height: 31px;
    width: 75%;
    text-align: left;
    margin: 0 auto;
  }
}

#about {
  h1 {
    margin: 10% 0 3% 0;
  }

  p {
    text-align: center;
    margin: 0 0 5% 0;
  }

  .team-intro {
    margin: 10% 0 10% 0;
  }

  .row {
    margin: 0 0 7% 0;
  }
}
