// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');

// Set variables
$primary-blue: #4A90E2;
$primary-gray: #FBFBFB;

html {
  font-family: 'Roboto', sans-serif!important;
}

section {
  min-height: 400px;
}

#landing, #p-1 {
  height: 110%;
  margin-bottom: 5%;
}

#landing {
  h1 {
    margin: 30% 0 3% 0;
    font-size: 40px!important;
    width: 98%;

    .sub {
      font-size: 17px!important;
      line-height: 28px;
      margin-top: 30px;
      color: #333333;
      width: 106%;
    }
  }

  .image {
    margin-top: 21.5%;
    width: 74.4%;
  }

  button {
    height: 40px;
    font-size: 15px;
  }
}

#no-credit {
  margin-top: 20px;
}

#intro-1 {
  background-color: $primary-gray;
  height: 685px;
  margin-bottom: 5%;

  #block {
    padding-top: 2.5%;

    .left {
      box-shadow: 5px 10px 20px rgba(10, 5, 2, 0.09);
      margin-left: 5%;
    }
  }

  .header {
    color: #000;
    line-height: 30px;
    padding: 5% 0 5% 15%;
    font-size: 35px;
  }

  .tiny {
    margin: 0% 4% 0 15%;
    float: left !important;
    width: 50px !important;
  }

  .text {
    max-width: 800px!important;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin-bottom: 2%;
  }

  button {
    background-color: $primary-blue;
    color: #FFF;
    border: solid 2px $primary-blue;
    border-radius: 3px;
    width: 160px;
    font-size: 15px;
    height: 40px;
    margin-top: 20%;
    margin-left: 72%;

    &:hover {
      background-color: #3569a7;
      -webkit-box-shadow:inset 0px 0px 0px 1px #3569a7;
      -moz-box-shadow:inset 0px 0px 0px 1px #3569a7;
      box-shadow:inset 0px 0px 0px 1px #3569a7;
    }

    &:active {
      -webkit-box-shadow:inset 0px 0px 0px 1px #FFF;
      -moz-box-shadow:inset 0px 0px 0px 1px #FFF;
      box-shadow:inset 0px 0px 0px 1px #FFF;
    }
  }
}

#f-1 {
  margin-top: 5%;
  height: 110%;

  h2 {
    font-size: 40px;
    color: #333333;
  }

  p {
    font-size: 17px;
    line-height: 28px;
    color: #333333;
    padding-top: 3%;
    width: 500px;
  }

  #collab {
    width: 85%;
  }

  .row {
    height: 350px!important;
    margin-top: 5%;
  }

  #padded {
    margin-right: 6%;
    margin-left: 6%;
  }
}

#gray-bg {
  background-color: $primary-gray;
}

#p-1 {
  .card {
    margin: 0 auto;
  }

  .cards {
    margin: 5% 0 5% 0;
  }

  h2 {
    font-size: 40px!important;
    margin-top: 13%;
    width: 60%;

    .sub {
      font-size: 17px!important;
      line-height: 28px;
      margin-top: 30px;
      color: #333333;
    }
  }

  .row {
    margin: 8% 0 8% 0;
  }

  #free-trial {
    background-color: #4A90E2;
    height: 63px;

    .header {
      color: #FFF;
      font-size: 45px;
      margin-top: 65px;
    }
  }

  #ft-btn {
    background-color: #4A90E2;
    color: #FFF;
    font-size: 15px;
    height: 40px;

    &:hover {
      background-color: #5d9eea;
    }
  }

  #awesome-plan {
    background-color: #F7990D;
    height: 112px;

    .header {
      color: #FFF;
      margin-top: 61px;

      span {
        font-size: 45px;
      }
    }
  }

  #ap-btn {
    background-color: #F7990D;
    color: #FFF;
    font-size: 15px;
    height: 40px;

    &:hover {
      background-color: #f7a72f;
    }
  }

  #special-plan {
    background-color: #7ED321;
    height: 210px;

    .header {
      color: #FFF;
      margin-top: 45px;

      span {
        font-size: 45px;
      }
    }
  }

  #sp-btn {
    background-color: #7ED321;
    color: #FFF;
    font-size: 15px;
    height: 40px;

    &:hover {
      background-color: #91d646;
    }
  }
}

#p-2 {
  h3 {
    padding: 5%;
  }

  .sub {
    padding-top: 3%;
    width: 80%;
    font-size: 17px;
    line-height: 24px;
  }
}

#about-us {
  h1 {
    margin: 30% 0 3% 0;
    font-size: 40px!important;
  }

  img {
    margin-top: 30%;
    width: 90%;
  }

  p {
    font-size: 17px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 15%;
  }
}

#cta-block {
  margin-top: 6%;
  margin-bottom: -3%;
}

#cta-right {
  padding-bottom: 7%;

  input {
    width: 370px;
  }
}

#cta-left {
  #cta-h {
    font-size: 25px;
  }

  #cta-sh {
    font-size: 14px;
    line-height: 30px;
  }
}

#cta-btn {
  background-color: $primary-blue;
  color: #FFF;
  border: solid 1px $primary-blue;
  border-radius: 3px;
  font-size: 15px;
  height: 40px;

  &:hover {
    background-color: #3569a7;
    -webkit-box-shadow:inset 0px 0px 0px 1px #3569a7;
    -moz-box-shadow:inset 0px 0px 0px 1px #3569a7;
    box-shadow:inset 0px 0px 0px 1px #3569a7;
  }
}
