// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');

// Set variables
$margin: 3% 0 6% 0;
$primary-green: #009688;
$primary-yellow: #ffe370;
$primary-red: #f04f4a;

html {
  font-family: 'Roboto', sans-serif!important;
}

section {
  min-height: 400px;

}


#landing, #intro-2,
#f-2, #f-3, #f-4, #f-5, #f-6,
#p-1, #p-2 {
  height: 110%;
  margin-bottom: 10%;
}

#landing, #a-1 {
  h1 {
    margin: 21% 0 3% 0;
    font-size: 56px!important;
    width: 52%;

    .sub {
      font-size: 16px!important;
      line-height: 28px;
      margin-top: 30px;
      color: #333333;
    }
  }

  button {
    height: 40px;
    font-size: 15px;
  }
}

#no-credit {
  margin-top: 30px;
}

#intro-1 {
  background-color: #F7F9FF;
  height: 690px;

  #wrapper {
    padding: 3%;
  }

  h2 {
    font-size: 30px;
    color: #333333;
  }

  p {
    font-size: 17px;
    line-height: 28px;
    color: #333333;
  }
}

#intro-2 {
  button {
    background-color: $primary-green;
    color: #FFF;
    border: solid 2px $primary-green;
    border-radius: 3px;
    width: 160px;
    font-size: 15px;
    height: 40px;

    &:hover {
      background-color: #036D60;
      -webkit-box-shadow:inset 0px 0px 0px 1px #036D60;
      -moz-box-shadow:inset 0px 0px 0px 1px #036D60;
      box-shadow:inset 0px 0px 0px 1px #036D60;
    }
  }

  img {
    height: 60%;
  }

  h2 {
    font-size: 30px;
    color: #333333;
  }

  #padded {
    padding-top: 9%;
  }

  #push {
    margin-left: 8%;
  }

  p {
    font-size: 17px;
    line-height: 28px;
    color: #333333;
    padding-top: 2%;
    width: 80%;
  }

  .content {
    padding: 8% 0% 8% 9%;
  }

  .item {
    margin: 18% 0 4% 0;;
  }

}

#intro-1, #f-1, #f-3, #p-1, #contact {
  h1 {
    margin: 21% 0 5%;
  }
}

#f-2 {
  h1 {
    margin: $margin;
  }

  div.stackable {
    margin-top: 5%;
  }
}

#f-3 {
  div.segment {
    cursor: pointer;

    &:hover {
      background-color: aliceblue;
      h3 {
        color: $primary-green;
      }
    }
  }

  .active {
    background-color: aliceblue;
    h3 {
      color: $primary-green;
    }
  }
}

#f-4 {
  button {
    background-color: $primary-yellow;
    color: #FFF;
    border: solid 2px $primary-yellow;
    border-radius: 3px;
    font-size: 15px;
    height: 40px;

    &:hover {
      background-color: #FFF;
      color: $primary-yellow;
      border: solid 2px $primary-yellow;
    }
  }
}

#f-6 {
  button {
    margin: 3% 1% 3% 0;
    background-color: $primary-green;
    color: #FFF;
    border: solid 2px $primary-green;
    border-radius: 3px;
    width: 120px!important;
    font-size: 15px;
    height: 40px;

    i {
      font-size: 23px!important;
    }

    &:hover {
      background-color: #036D60;
      -webkit-box-shadow:inset 0px 0px 0px 1px #036D60;
      -moz-box-shadow:inset 0px 0px 0px 1px #036D60;
      box-shadow:inset 0px 0px 0px 1px #036D60;
    }
  }
}

#cta-block {
  h1 {
    margin-bottom: 3%;
  }

  #siwg-btn {
    border-radius: 3px;
    font-size: 15px;
    height: 40px;

    i {
      font-size: 19px!important;
    }
  }

  .sixteen {
    margin-top: 6%;
  }
}

#social-icons, #rights {
  margin: $margin;
}

div.divider {
  margin-bottom: 3%!important;
}

#cta-btn {
  background-color: $primary-green;
  color: #FFF;
  border: solid 1px $primary-green;
  border-radius: 3px;
  font-size: 15px;
  height: 40px;

  &:hover {
    background-color: #036D60;
    -webkit-box-shadow:inset 0px 0px 0px 1px #036D60;
    -moz-box-shadow:inset 0px 0px 0px 1px #036D60;
    box-shadow:inset 0px 0px 0px 1px #036D60;
  }
}
