<div class='footer'>
  <div class='ui stackable grid container'>
    <div class='two column row'>
      <div class='left floated left aligned column'>
        <div class='ui text container' id='rights'>
          <%= image_tag('logo.png', class: 'ui left floated mini image') %>
          <p>
            Copyright © Seam<br>
            Collaboration, LLC 2017<br>
            All Rights Reserved
          </p>
        </div>
      </div>
      <div class='right floated right aligned column' id='privacy'>
        <%= link_to 'https://termsfeed.com/terms-conditions/d5bd92ccbed62d12d4ab89abebf18ba7' do %>
          Terms & Conditions
        <% end %>
        <%= link_to 'https://termsfeed.com/privacy-policy/e3b1d04bda51b008e4932188dd3290f3' do %>
          Privacy Policy
        <% end %>
        <%= link_to '/' do %>
          Contact Us
        <% end %>
      </div>
    </div>
  </div>
</div>
