<div class='ui container'>
  <div class="ui grid">
    <div class="eight wide column">
      <%= image_tag('Final-Logo.svg') %>
    </div>
    <div class="eight wide column">
    </div>
  </div>
</div>
